src/main/wsdl/servicio.xml

<?xml version="1.0" encoding="ISO-8859-1"?>
<definitions xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="urn:ws_api" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="urn:ws_api">
<types>
<xsd:schema targetNamespace="urn:ws_api"
>
 <xsd:import namespace="http://schemas.xmlsoap.org/soap/encoding/" />
 <xsd:import namespace="http://schemas.xmlsoap.org/wsdl/" />
 <xsd:complexType name="RespuestaConsultarCFDI">
  <xsd:all>
   <xsd:element name="code" type="xsd:string"/>
   <xsd:element name="message" type="xsd:string"/>
   <xsd:element name="data" type="xsd:string"/>
  </xsd:all>
 </xsd:complexType>
 <xsd:complexType name="RespuestaTimbrado">
  <xsd:all>
   <xsd:element name="code" type="xsd:string"/>
   <xsd:element name="message" type="xsd:string"/>
   <xsd:element name="data" type="xsd:string"/>
  </xsd:all>
 </xsd:complexType>
 <xsd:complexType name="RespuestaCancelar">
  <xsd:all>
   <xsd:element name="code" type="xsd:string"/>
   <xsd:element name="message" type="xsd:string"/>
   <xsd:element name="data" type="xsd:string"/>
   <xsd:element name="status" type="xsd:string"/>
  </xsd:all>
 </xsd:complexType>
 <xsd:complexType name="RespuestaEstatusSAT">
  <xsd:all>
   <xsd:element name="CodigoEstatus" type="xsd:string"/>
   <xsd:element name="EsCancelable" type="xsd:string"/>
   <xsd:element name="Estado" type="xsd:string"/>
   <xsd:element name="EstatusCancelacion" type="xsd:string"/>
  </xsd:all>
 </xsd:complexType>
 <xsd:complexType name="RespuestaCreditos">
  <xsd:all>
   <xsd:element name="code" type="xsd:string"/>
   <xsd:element name="message" type="xsd:string"/>
   <xsd:element name="data" type="xsd:int"/>
  </xsd:all>
 </xsd:complexType>
 <xsd:complexType name="RespuestaRelacionados">
  <xsd:all>
   <xsd:element name="code" type="xsd:string"/>
   <xsd:element name="message" type="xsd:string"/>
   <xsd:element name="data" type="xsd:string"/>
  </xsd:all>
 </xsd:complexType>
 <xsd:complexType name="RespuestaPendientes">
  <xsd:all>
   <xsd:element name="code" type="xsd:string"/>
   <xsd:element name="message" type="xsd:string"/>
   <xsd:element name="data" type="xsd:string"/>
  </xsd:all>
 </xsd:complexType>
 <xsd:complexType name="RespuestaAutorizar">
  <xsd:all>
   <xsd:element name="code" type="xsd:string"/>
   <xsd:element name="message" type="xsd:string"/>
   <xsd:element name="data" type="xsd:string"/>
  </xsd:all>
 </xsd:complexType>
 <xsd:complexType name="RespuestaTimbradoSP">
  <xsd:all>
   <xsd:element name="code" type="xsd:string"/>
   <xsd:element name="message" type="xsd:string"/>
   <xsd:element name="data" type="xsd:string"/>
  </xsd:all>
 </xsd:complexType>
 <xsd:complexType name="RespuestaValidacion">
  <xsd:all>
   <xsd:element name="code" type="xsd:string"/>
   <xsd:element name="message" type="xsd:string"/>
   <xsd:element name="data" type="xsd:string"/>
  </xsd:all>
 </xsd:complexType>
</xsd:schema>
</types>
<message name="consultarCFDIRequest">
  <part name="apikey" type="xsd:string" />
  <part name="uuid" type="xsd:string" /></message>
<message name="consultarCFDIResponse">
  <part name="return" type="tns:RespuestaConsultarCFDI" /></message>
<message name="timbrarRequest">
  <part name="apikey" type="xsd:string" />
  <part name="xmlCFDI" type="xsd:string" /></message>
<message name="timbrarResponse">
  <part name="return" type="tns:RespuestaTimbrado" /></message>
<message name="timbrar3Request">
  <part name="apikey" type="xsd:string" />
  <part name="xmlCFDI" type="xsd:string" /></message>
<message name="timbrar3Response">
  <part name="return" type="tns:RespuestaTimbrado" /></message>
<message name="timbrarTFDRequest">
  <part name="apikey" type="xsd:string" />
  <part name="xmlCFDI" type="xsd:string" /></message>
<message name="timbrarTFDResponse">
  <part name="return" type="tns:RespuestaTimbrado" /></message>
<message name="timbrarConSelloRequest">
  <part name="apikey" type="xsd:string" />
  <part name="xmlCFDI" type="xsd:string" />
  <part name="keyPEM" type="xsd:string" /></message>
<message name="timbrarConSelloResponse">
  <part name="return" type="tns:RespuestaTimbrado" /></message>
<message name="timbrarJSONRequest">
  <part name="apikey" type="xsd:string" />
  <part name="jsonB64" type="xsd:string" />
  <part name="keyPEM" type="xsd:string" />
  <part name="cerPEM" type="xsd:string" /></message>
<message name="timbrarJSONResponse">
  <part name="return" type="tns:RespuestaTimbrado" /></message>
<message name="timbrarJSON2Request">
  <part name="apikey" type="xsd:string" />
  <part name="jsonB64" type="xsd:string" />
  <part name="keyPEM" type="xsd:string" />
  <part name="cerPEM" type="xsd:string" />
  <part name="plantilla" type="xsd:string" /></message>
<message name="timbrarJSON2Response">
  <part name="return" type="tns:RespuestaTimbrado" /></message>
<message name="timbrarJSON3Request">
  <part name="apikey" type="xsd:string" />
  <part name="jsonB64" type="xsd:string" />
  <part name="keyPEM" type="xsd:string" />
  <part name="cerPEM" type="xsd:string" /></message>
<message name="timbrarJSON3Response">
  <part name="return" type="tns:RespuestaTimbrado" /></message>
<message name="timbrarTXTRequest">
  <part name="apikey" type="xsd:string" />
  <part name="txtB64" type="xsd:string" />
  <part name="keyPEM" type="xsd:string" />
  <part name="cerPEM" type="xsd:string" /></message>
<message name="timbrarTXTResponse">
  <part name="return" type="tns:RespuestaTimbrado" /></message>
<message name="timbrarTXT2Request">
  <part name="apikey" type="xsd:string" />
  <part name="txtB64" type="xsd:string" />
  <part name="keyPEM" type="xsd:string" />
  <part name="cerPEM" type="xsd:string" />
  <part name="plantilla" type="xsd:string" />
  <part name="logoB64" type="xsd:string" /></message>
<message name="timbrarTXT2Response">
  <part name="return" type="tns:RespuestaTimbrado" /></message>
<message name="timbrarTXT3Request">
  <part name="apikey" type="xsd:string" />
  <part name="txtB64" type="xsd:string" />
  <part name="keyPEM" type="xsd:string" />
  <part name="cerPEM" type="xsd:string" /></message>
<message name="timbrarTXT3Response">
  <part name="return" type="tns:RespuestaTimbrado" /></message>
<message name="cancelarRequest">
  <part name="apikey" type="xsd:string" />
  <part name="keyCSD" type="xsd:string" />
  <part name="cerCSD" type="xsd:string" />
  <part name="passCSD" type="xsd:string" />
  <part name="uuid" type="xsd:string" />
  <part name="rfcEmisor" type="xsd:string" />
  <part name="rfcReceptor" type="xsd:string" />
  <part name="total" type="xsd:double" /></message>
<message name="cancelarResponse">
  <part name="return" type="tns:RespuestaCancelar" /></message>
<message name="cancelarPFXRequest">
  <part name="apikey" type="xsd:string" />
  <part name="filePFX" type="xsd:string" />
  <part name="passPFX" type="xsd:string" />
  <part name="uuid" type="xsd:string" />
  <part name="rfcEmisor" type="xsd:string" />
  <part name="rfcReceptor" type="xsd:string" />
  <part name="total" type="xsd:double" /></message>
<message name="cancelarPFXResponse">
  <part name="return" type="tns:RespuestaCancelar" /></message>
<message name="consultarEstadoSATRequest">
  <part name="apikey" type="xsd:string" />
  <part name="uuid" type="xsd:string" />
  <part name="rfcEmisor" type="xsd:string" />
  <part name="rfcReceptor" type="xsd:string" />
  <part name="total" type="xsd:string" /></message>
<message name="consultarEstadoSATResponse">
  <part name="return" type="tns:RespuestaEstatusSAT" /></message>
<message name="consultarCreditosDisponiblesRequest">
  <part name="apikey" type="xsd:string" /></message>
<message name="consultarCreditosDisponiblesResponse">
  <part name="return" type="tns:RespuestaCreditos" /></message>
<message name="consultarCfdisRelacionadosRequest">
  <part name="apikey" type="xsd:string" />
  <part name="keyPEM" type="xsd:string" />
  <part name="cerPEM" type="xsd:string" />
  <part name="uuid" type="xsd:string" />
  <part name="rfcEmisor" type="xsd:string" /></message>
<message name="consultarCfdisRelacionadosResponse">
  <part name="return" type="tns:RespuestaRelacionados" /></message>
<message name="consultarAutorizacionesPendientesRequest">
  <part name="apikey" type="xsd:string" />
  <part name="keyPEM" type="xsd:string" />
  <part name="cerPEM" type="xsd:string" /></message>
<message name="consultarAutorizacionesPendientesResponse">
  <part name="return" type="tns:RespuestaPendientes" /></message>
<message name="autorizarCancelacionRequest">
  <part name="apikey" type="xsd:string" />
  <part name="keyPEM" type="xsd:string" />
  <part name="cerPEM" type="xsd:string" />
  <part name="uuid" type="xsd:string" />
  <part name="respuesta" type="xsd:string" /></message>
<message name="autorizarCancelacionResponse">
  <part name="return" type="tns:RespuestaAutorizar" /></message>
<message name="timbrarRetencionRequest">
  <part name="apikey" type="xsd:string" />
  <part name="xml" type="xsd:string" /></message>
<message name="timbrarRetencionResponse">
  <part name="return" type="tns:RespuestaTimbrado" /></message>
<message name="timbrarRetencionTFDRequest">
  <part name="apikey" type="xsd:string" />
  <part name="xml" type="xsd:string" /></message>
<message name="timbrarRetencionTFDResponse">
  <part name="return" type="tns:RespuestaTimbrado" /></message>
<message name="timbrarRetencionJSONRequest">
  <part name="apikey" type="xsd:string" />
  <part name="jsonB64" type="xsd:string" />
  <part name="keyPEM" type="xsd:string" />
  <part name="cerPEM" type="xsd:string" />
  <part name="plantilla" type="xsd:string" /></message>
<message name="timbrarRetencionJSONResponse">
  <part name="return" type="tns:RespuestaTimbrado" /></message>
<message name="cancelarRetencionCSDRequest">
  <part name="apikey" type="xsd:string" />
  <part name="keyCSD" type="xsd:string" />
  <part name="cerCSD" type="xsd:string" />
  <part name="passCSD" type="xsd:string" />
  <part name="rfcEmisor" type="xsd:string" />
  <part name="uuid" type="xsd:string" /></message>
<message name="cancelarRetencionCSDResponse">
  <part name="return" type="tns:RespuestaCancelar" /></message>
<message name="timbrarSPRequest">
  <part name="apikey" type="xsd:string" />
  <part name="xmlCFDI" type="xsd:string" /></message>
<message name="timbrarSPResponse">
  <part name="return" type="tns:RespuestaTimbradoSP" /></message>
<message name="cancelarSPRequest">
  <part name="apikey" type="xsd:string" />
  <part name="rfcEmisor" type="xsd:string" />
  <part name="uuid" type="xsd:string" /></message>
<message name="cancelarSPResponse">
  <part name="return" type="tns:RespuestaCancelar" /></message>
<message name="validarRequest">
  <part name="apikey" type="xsd:string" />
  <part name="xmlCFDI" type="xsd:string" /></message>
<message name="validarResponse">
  <part name="return" type="tns:RespuestaValidacion" /></message>
<portType name="ServicioTimbradoWSPortType">
  <operation name="consultarCFDI">
    <input message="tns:consultarCFDIRequest"/>
    <output message="tns:consultarCFDIResponse"/>
  </operation>
  <operation name="timbrar">
    <input message="tns:timbrarRequest"/>
    <output message="tns:timbrarResponse"/>
  </operation>
  <operation name="timbrar3">
    <input message="tns:timbrar3Request"/>
    <output message="tns:timbrar3Response"/>
  </operation>
  <operation name="timbrarTFD">
    <input message="tns:timbrarTFDRequest"/>
    <output message="tns:timbrarTFDResponse"/>
  </operation>
  <operation name="timbrarConSello">
    <input message="tns:timbrarConSelloRequest"/>
    <output message="tns:timbrarConSelloResponse"/>
  </operation>
  <operation name="timbrarJSON">
    <input message="tns:timbrarJSONRequest"/>
    <output message="tns:timbrarJSONResponse"/>
  </operation>
  <operation name="timbrarJSON2">
    <input message="tns:timbrarJSON2Request"/>
    <output message="tns:timbrarJSON2Response"/>
  </operation>
  <operation name="timbrarJSON3">
    <input message="tns:timbrarJSON3Request"/>
    <output message="tns:timbrarJSON3Response"/>
  </operation>
  <operation name="timbrarTXT">
    <input message="tns:timbrarTXTRequest"/>
    <output message="tns:timbrarTXTResponse"/>
  </operation>
  <operation name="timbrarTXT2">
    <input message="tns:timbrarTXT2Request"/>
    <output message="tns:timbrarTXT2Response"/>
  </operation>
  <operation name="timbrarTXT3">
    <input message="tns:timbrarTXT3Request"/>
    <output message="tns:timbrarTXT3Response"/>
  </operation>
  <operation name="cancelar">
    <input message="tns:cancelarRequest"/>
    <output message="tns:cancelarResponse"/>
  </operation>
  <operation name="cancelarPFX">
    <input message="tns:cancelarPFXRequest"/>
    <output message="tns:cancelarPFXResponse"/>
  </operation>
  <operation name="consultarEstadoSAT">
    <input message="tns:consultarEstadoSATRequest"/>
    <output message="tns:consultarEstadoSATResponse"/>
  </operation>
  <operation name="consultarCreditosDisponibles">
    <input message="tns:consultarCreditosDisponiblesRequest"/>
    <output message="tns:consultarCreditosDisponiblesResponse"/>
  </operation>
  <operation name="consultarCfdisRelacionados">
    <input message="tns:consultarCfdisRelacionadosRequest"/>
    <output message="tns:consultarCfdisRelacionadosResponse"/>
  </operation>
  <operation name="consultarAutorizacionesPendientes">
    <input message="tns:consultarAutorizacionesPendientesRequest"/>
    <output message="tns:consultarAutorizacionesPendientesResponse"/>
  </operation>
  <operation name="autorizarCancelacion">
    <input message="tns:autorizarCancelacionRequest"/>
    <output message="tns:autorizarCancelacionResponse"/>
  </operation>
  <operation name="timbrarRetencion">
    <input message="tns:timbrarRetencionRequest"/>
    <output message="tns:timbrarRetencionResponse"/>
  </operation>
  <operation name="timbrarRetencionTFD">
    <input message="tns:timbrarRetencionTFDRequest"/>
    <output message="tns:timbrarRetencionTFDResponse"/>
  </operation>
  <operation name="timbrarRetencionJSON">
    <input message="tns:timbrarRetencionJSONRequest"/>
    <output message="tns:timbrarRetencionJSONResponse"/>
  </operation>
  <operation name="cancelarRetencionCSD">
    <input message="tns:cancelarRetencionCSDRequest"/>
    <output message="tns:cancelarRetencionCSDResponse"/>
  </operation>
  <operation name="timbrarSP">
    <input message="tns:timbrarSPRequest"/>
    <output message="tns:timbrarSPResponse"/>
  </operation>
  <operation name="cancelarSP">
    <input message="tns:cancelarSPRequest"/>
    <output message="tns:cancelarSPResponse"/>
  </operation>
  <operation name="validar">
    <input message="tns:validarRequest"/>
    <output message="tns:validarResponse"/>
  </operation>
</portType>
<binding name="ServicioTimbradoWSBinding" type="tns:ServicioTimbradoWSPortType">
  <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
  <operation name="consultarCFDI">
    <soap:operation soapAction="urn:ServicioTimbradoWS#consultarCFDI" style="rpc"/>
    <input><soap:body use="encoded" namespace="urn:ws_api" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></input>
    <output><soap:body use="encoded" namespace="urn:ws_api" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></output>
  </operation>
  <operation name="timbrar">
    <soap:operation soapAction="urn:ServicioTimbradoWS#timbrar" style="rpc"/>
    <input><soap:body use="encoded" namespace="urn:ws_api" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></input>
    <output><soap:body use="encoded" namespace="urn:ws_api" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></output>
  </operation>
  <operation name="timbrar3">
    <soap:operation soapAction="urn:ServicioTimbradoWS#timbrar3" style="rpc"/>
    <input><soap:body use="encoded" namespace="urn:ws_api" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></input>
    <output><soap:body use="encoded" namespace="urn:ws_api" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></output>
  </operation>
  <operation name="timbrarTFD">
    <soap:operation soapAction="urn:ServicioTimbradoWS#timbrar3" style="rpc"/>
    <input><soap:body use="encoded" namespace="urn:ws_api" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></input>
    <output><soap:body use="encoded" namespace="urn:ws_api" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></output>
  </operation>
  <operation name="timbrarConSello">
    <soap:operation soapAction="urn:ServicioTimbradoWS#timbrar3" style="rpc"/>
    <input><soap:body use="encoded" namespace="urn:ws_api" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></input>
    <output><soap:body use="encoded" namespace="urn:ws_api" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></output>
  </operation>
  <operation name="timbrarJSON">
    <soap:operation soapAction="urn:ServicioTimbradoWS#timbrarJSON" style="rpc"/>
    <input><soap:body use="encoded" namespace="urn:ws_api" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></input>
    <output><soap:body use="encoded" namespace="urn:ws_api" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></output>
  </operation>
  <operation name="timbrarJSON2">
    <soap:operation soapAction="urn:ServicioTimbradoWS#timbrarJSON2" style="rpc"/>
    <input><soap:body use="encoded" namespace="urn:ws_api" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></input>
    <output><soap:body use="encoded" namespace="urn:ws_api" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></output>
  </operation>
  <operation name="timbrarJSON3">
    <soap:operation soapAction="urn:ServicioTimbradoWS#timbrarJSON3" style="rpc"/>
    <input><soap:body use="encoded" namespace="urn:ws_api" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></input>
    <output><soap:body use="encoded" namespace="urn:ws_api" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></output>
  </operation>
  <operation name="timbrarTXT">
    <soap:operation soapAction="urn:ServicioTimbradoWS#timbrarTXT" style="rpc"/>
    <input><soap:body use="encoded" namespace="urn:ws_api" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></input>
    <output><soap:body use="encoded" namespace="urn:ws_api" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></output>
  </operation>
  <operation name="timbrarTXT2">
    <soap:operation soapAction="urn:ServicioTimbradoWS#timbrarTXT2" style="rpc"/>
    <input><soap:body use="encoded" namespace="urn:ws_api" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></input>
    <output><soap:body use="encoded" namespace="urn:ws_api" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></output>
  </operation>
  <operation name="timbrarTXT3">
    <soap:operation soapAction="urn:ServicioTimbradoWS#timbrarTXT3" style="rpc"/>
    <input><soap:body use="encoded" namespace="urn:ws_api" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></input>
    <output><soap:body use="encoded" namespace="urn:ws_api" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></output>
  </operation>
  <operation name="cancelar">
    <soap:operation soapAction="urn:ServicioTimbradoWS#cancelar" style="rpc"/>
    <input><soap:body use="encoded" namespace="urn:ws_api" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></input>
    <output><soap:body use="encoded" namespace="urn:ws_api" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></output>
  </operation>
  <operation name="cancelarPFX">
    <soap:operation soapAction="urn:ServicioTimbradoWS#cancelarPFX" style="rpc"/>
    <input><soap:body use="encoded" namespace="urn:ws_api" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></input>
    <output><soap:body use="encoded" namespace="urn:ws_api" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></output>
  </operation>
  <operation name="consultarEstadoSAT">
    <soap:operation soapAction="urn:ServicioTimbradoWS#consultarEstadoSAT" style="rpc"/>
    <input><soap:body use="encoded" namespace="urn:ws_api" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></input>
    <output><soap:body use="encoded" namespace="urn:ws_api" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></output>
  </operation>
  <operation name="consultarCreditosDisponibles">
    <soap:operation soapAction="urn:ServicioTimbradoWS#consultarCreditosDisponibles" style="rpc"/>
    <input><soap:body use="encoded" namespace="urn:ws_api" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></input>
    <output><soap:body use="encoded" namespace="urn:ws_api" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></output>
  </operation>
  <operation name="consultarCfdisRelacionados">
    <soap:operation soapAction="urn:ServicioTimbradoWS#consultarCfdisRelacionados" style="rpc"/>
    <input><soap:body use="encoded" namespace="urn:ws_api" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></input>
    <output><soap:body use="encoded" namespace="urn:ws_api" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></output>
  </operation>
  <operation name="consultarAutorizacionesPendientes">
    <soap:operation soapAction="urn:ServicioTimbradoWS#consultarAutorizacionesPendientes" style="rpc"/>
    <input><soap:body use="encoded" namespace="urn:ws_api" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></input>
    <output><soap:body use="encoded" namespace="urn:ws_api" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></output>
  </operation>
  <operation name="autorizarCancelacion">
    <soap:operation soapAction="urn:ServicioTimbradoWS#autorizarCancelacion" style="rpc"/>
    <input><soap:body use="encoded" namespace="urn:ws_api" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></input>
    <output><soap:body use="encoded" namespace="urn:ws_api" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></output>
  </operation>
  <operation name="timbrarRetencion">
    <soap:operation soapAction="urn:ServicioTimbradoWS#timbrarRetencion" style="rpc"/>
    <input><soap:body use="encoded" namespace="urn:ws_api" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></input>
    <output><soap:body use="encoded" namespace="urn:ws_api" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></output>
  </operation>
  <operation name="timbrarRetencionTFD">
    <soap:operation soapAction="urn:ServicioTimbradoWS#timbrarRetencionTFD" style="rpc"/>
    <input><soap:body use="encoded" namespace="urn:ws_api" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></input>
    <output><soap:body use="encoded" namespace="urn:ws_api" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></output>
  </operation>
  <operation name="timbrarRetencionJSON">
    <soap:operation soapAction="urn:ServicioTimbradoWS#timbrarRetencionJSON" style="rpc"/>
    <input><soap:body use="encoded" namespace="urn:ws_api" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></input>
    <output><soap:body use="encoded" namespace="urn:ws_api" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></output>
  </operation>
  <operation name="cancelarRetencionCSD">
    <soap:operation soapAction="urn:ServicioTimbradoWS#cancelarRetencionCSD" style="rpc"/>
    <input><soap:body use="encoded" namespace="urn:ws_api" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></input>
    <output><soap:body use="encoded" namespace="urn:ws_api" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></output>
  </operation>
  <operation name="timbrarSP">
    <soap:operation soapAction="urn:ServicioTimbradoWS#timbrarSP" style="rpc"/>
    <input><soap:body use="encoded" namespace="urn:ws_api" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></input>
    <output><soap:body use="encoded" namespace="urn:ws_api" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></output>
  </operation>
  <operation name="cancelarSP">
    <soap:operation soapAction="urn:ServicioTimbradoWS#cancelarSP" style="rpc"/>
    <input><soap:body use="encoded" namespace="urn:ws_api" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></input>
    <output><soap:body use="encoded" namespace="urn:ws_api" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></output>
  </operation>
  <operation name="validar">
    <soap:operation soapAction="urn:ServicioTimbradoWS#validar" style="rpc"/>
    <input><soap:body use="encoded" namespace="urn:ws_api" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></input>
    <output><soap:body use="encoded" namespace="urn:ws_api" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></output>
  </operation>
</binding>
<service name="ServicioTimbradoWS">
  <port name="ServicioTimbradoWSPort" binding="tns:ServicioTimbradoWSBinding">
      <soap:address location="https://app.timbradorxpress.mx:443/ws/servicio.do"/>
  </port>
</service>
</definitions>